<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actividades"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
       

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.MainActivity"
            android:label="@string/NombreProyecto" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.LoginAdmin"
            android:label="Acceso" >
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.Administrador"
            android:label="Administrador" >
        </activity>
        
        <activity
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.BancoActividades"
            android:label="Banco de Actividades" >
        </activity>
        <activity            
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan"            
            android:name="com.example.actividades.NuevaActividad"            
            android:label="Nueva Actividad" >
        </activity>
        <activity            
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.ModificarActividad"            
            android:label="Modificar Actividad" >
        </activity>
        <activity            
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan"
            android:name="com.example.actividades.Update"            
            android:label="Actualizar Actividad" >
        </activity>
        <activity            
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.EliminarActividad"            
            android:label="Eliminar Actividad" >
        </activity>
        <activity
            android:permission="android.permission.INSTALL_PACKAGES"
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.Estudiante"
            android:label="Estudiante" >
        </activity>
        <activity            
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:configChanges="orientation|screenSize"
            android:name="com.example.actividades.Main"
            android:label="Envio de Datos" >
        </activity>
    </application>

</manifest>
